.showrm-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
  }
  
  .add-booking {
    text-align: right;
    margin: 20px;
  }
  
  .add-booking-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .tab-button {
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 30px;
    background-color: #f0f0f0;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }
  
  .tab-content {
    text-align: center;
    width: auto;
    overflow-x: auto;
  }
  
  .tab-pane {
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
  }
  
  .booking-select {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1rem;
    width: 200px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .tab-pane {
      width: 100%;
    }
  
    .booking-select {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .tab-pane {
      padding: 10px;
    }
  
    .booking-select {
      font-size: 0.875rem;
      padding: 8px;
    }
  
    .tab-buttons {
      flex-direction: column;
    }
  
    .tab-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  